<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <h1> Welcome to our club! </h1>
    <a href="register"> Register right now! </a>
    <p> Already registred? <a href="/login"> Login </a> </p> 
  <%}%>
</body>
</html>