<html>
  <head>
    <title>Membership</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1> Apply for a member status </h1>
  <div>
    To get the secret password, translate this phrase: <em>J'aime les chevaux</em> (no spaces, no capital letters).
  </div>
</div>
    <%- include("partials/errors.ejs") %>
   <form action="/users/<%= user.id %>/membership" method="POST" class="register-form">
    
<div class="input-form"> 
  <label for="passworde">Secret password: </label>
   <div class="input-icon-container">
  <input
    type="password"
    name="password"
    id="password"
    required
  >
  <span class="toggle-password" onclick="togglePassword('password', this)">🙉</span>
  </div>
</div>

    <button type="submit">Apply</button>
  </form>
  <a href="/">Homepage</a>
</html>

<script>
  function togglePassword(fieldId, icon) {
    const input = document.getElementById(fieldId);
    if (input.type === "password") {
      input.type = "text";
      icon.textContent = "🙈"; 
    } else {
      input.type = "password";
      icon.textContent = "🙉"; 
    }
  }
</script>
